body{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("./img/background1.jpg");
}

.input{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 15px;
    width: 45%;
    margin: 0 auto;
    height: 12vh;
    text-align: center;
    background-image: url("./img/background.jpg");
    object-fit: scale-down;
}
.input>label{
    margin: auto;
    font-weight: bold;
}
#input-text{
    width: 50%;
    height: 25px;
    margin: auto 8px;
    outline: none;
    border: none;
    border-bottom: solid 2px rgb(122, 122, 122);
    border-radius: 5px;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 15px;
}
.item{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-evenly;
    padding: 6px;
    border-top: solid 2px white;
}
.title-movie{
    display: inline-block;
    margin: auto;
    width: 50%;
}
.output{
    display: flex;
    box-sizing: border-box;
    width: 45%;
    margin: 0 auto;
    flex-direction: column;
    background-color: rgb(35, 170, 204);
    height: auto;
    overflow-y: scroll;
}
button{
    outline-style: none;
    background-color: transparent;
    border: none;
    outline-style: none;
    padding: 8px 13px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 9px;
    margin: auto;
}
.input .button-enabled{
    background-color: chartreuse;
    color: rgb(0, 0, 0);   
}
.input .button-enabled:hover{
    background-color: rgb(59, 105, 12);
    color: rgb(255, 255, 255);   
}
.item>button:last-child{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);  
}
.item>button:last-child:hover{
    background-color: rgb(247, 69, 69);
    color: rgb(255, 255, 255);  
}
.item .button-enabled{
    background-color: rgb(240, 236, 18);
    color: rgb(0, 0, 0);  
}
.item .button-enabled:hover{
    background-color: rgb(233, 228, 159);
    color: rgb(255, 255, 255);  
}
.button-disabled{
    background-color: rgb(101, 111, 122);
    color: rgb(194, 189, 189);  
}

/* Segun medidas recomendadas para móviles */
@media (max-width: 768px) {
    .input{
        width: 80%;
        height: 8vh;
    }
    .output{
        width: 80%;
        height: auto;
    }
    button{
        font-size: 11px;
    }
    .item h3{
        font-size: 12px;
    }
    .input label{
        font-size: 12px;
    }

}